main {
  flex: 1;
  display: flex;
  justify-content: flex-start; 
  flex-direction: column;
  width: calc(100% - 20vw); 
  margin-left: 20vw; 
}
.dashboard{
  width: 80vw;
}
.under{
  margin-top: 50px;
  color: white;
  text-align: center;
}