*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background: #131313;
  font-family: 'Epilogue', sans-serif;
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #555; /* Cor do botão de rolagem */
  border-radius: 2px; /* Raio da borda do botão de rolagem */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Cor do botão de rolagem ao passar o mouse */
}

/* Estilizando a barra de rolagem horizontal, se necessário */
*::-webkit-scrollbar-track {
  background: #333; /* Cor do fundo da barra de rolagem */
}

/* Estilizando a barra de rolagem de canto, se necessário */
*::-webkit-scrollbar-corner {
  background: #131313; /* Cor do canto da barra de rolagem */
}